/*********
RESET
*********/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/*********
FONT AND STYLE TAG
*********/

body {
    font-family: "Fredoka";
    text-align: center;
    padding: 44px 264px;
}

p {
    margin-top: 65px;
}

h1 {
    color: #e53170;
}

.container {
    display: flex;
    max-width: 1140px;
    margin: 0px;
    margin-top: 55px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.col {
    width: 250px;
    height: 100px;
    background-color: black;
    box-shadow: 10px 10px 5px #d8d8d7;
    display: flex;
}

img {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
}

.img-1 {
    display: flex;
    flex-direction: column;
    padding-left: 14px;
    padding-bottom: 3px;
    padding-top: 5%;
    text-align: start;
    font-size: 12px;
}

.name {
    color: #fff;
    font-weight: 800;
}

.job {
    color: #fff;
}

.mail {
    color: #00b5f4;
    font-size: 12px;
}